<div class="brands-all">
        <div class="container">
            <h2 class="slider-title text-center">العضويات المميزة </h2>
            <section class="lazy slider slick-initialized slick-slider">
            <div class="slick-list draggable">
            <div class="slick-track" style="opacity: 1; width: 556px; transform: translate3d(0px, 0px, 0px);">
            
            
            <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 278px;" tabindex="0">
            <a href="#" tabindex="0"> 
            <img class="d-block img-fluid slideheight brand-slide" src="https://www.tsheed.com/public/storage/xk0dxl9PjnOJ1g0TVamY23Wpv3H5qgjUu1BgO0yB.png" title=" دهانات"></a>
            </div>
            
            
            <div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 278px;" tabindex="0">
            <a href="#" tabindex="0"> 
            <img class="d-block img-fluid slideheight brand-slide" src="https://www.tsheed.com/public/storage/xk0dxl9PjnOJ1g0TVamY23Wpv3H5qgjUu1BgO0yB.png" title=" دهانات"></a>
            </div>
            
            
            </div>
            </div>
                                    
        </section>
        </div>
    </div>